development:
  adapter: postgresql
  encoding: unicode
  database: informer_development
  pool: 5
  username: postgres
  password: postgres
  port: 5432
  host: localhost
  min_messages: WARNING

test:
  adapter: postgresql
  encoding: unicode
  database: informer_test
  pool: 5
  username: postgres
  password: postgres
  port: 5432
  host: localhost
  min_messages: WARNING
