<h3>Я информатор</h3>

<p>
  Пользователь <%= @vk_user.name %> был за последние сутки в VK <%= @vk_user.online_time_in_vk(@vk_user.times_per_day) %>
</p>

<p>С самыми наилучшими пожеланиями,</p>
<p>Vladimir M. (WIM)</p>

